@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
}

body {
    background: #272640; 
    color: white;
    font-weight: 500;
    display: flex;
    min-height: 100vh; /*Lembrando que 100vh/100vw significa 100% de altura/largura em relação a viewport, que é o tamanho total da tela.*/
}

main {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: #6930c3;
    font-size: 3rem;
    margin-bottom: 3rem;
}

main.social-media {
    display: flex;
    align-content: center;
}

main.social-media img {
    width: 36px;
    margin-left: 3rem;
}

main.social-media a {
    text-decoration: none;
}

main.social-media a:first-child img {
    margin-left: 0;
} /*A primeira tag a, o primeiro filho (google), vai ter um margin-left de 0
o a:nth-child(0) dentro do parênteses você consegue especificar o indice*/

main .alternative {
    margin: 1rem;
}

main .alternative span {
    font-size: 1.1rem;
    font-weight: 400;
    color: #a3a380;
    position: relative;

}

main .alternative span::before, main .alternative span::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    bottom: 50%;
    right: 50px;
    background: #a3a380;
}

main .alternative span::after {
    left: 50px;
}


main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label {
    display: flex;
    flex-direction: column;
}

main form label span {
    font-size: 1.1rem;
    margin-top: 2rem;
}

main form input {
    background: #1f1e36;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none; /*borda em volta da caixa*/
    color: rgb(166, 166, 166);
    font-size: 1rem;
    border: 1px solid #040B18;
    border-radius: 8px;
}

main form input[type="submit"] {
    cursor: pointer;
    width: 50%;
    margin-top: 4rem;
    border: none;
    border-radius: 32px;
    background: #6C63FF;
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
}

main form input[type="submit"]:hover {
    background: #5952d4;
}

section.images {
    display: flex;
    align-items: flex-end;
    padding: 4rem;
}
section.images img {
    width: 90%
}

section.images .circle {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #6c63ff, #b56576);
    clip-path: circle(40% at right 80%); /*permite que recorte uma parte do elemente*/
    z-index: -1; /*só funciona com elementos que possuem propriedade position*/
}